<!-- el header deberia ir en layout -->
<header class="grid_12">
	<h1 id="logo">
       <a href="http://www.subasteando.cl/"><span>Subasteando.cl</span></a>
     </h1>
	     <!-- Futuro menú -->
	<nav>
		<ul>
		<li><a href="#">Inicio</a> | </li>
		<li><a href="#">Canales</a> | </li>
		<li><a href="#">Anúnciese</a> | </li>
		<li><a href="#">Contáctenos</a> | </li>
		<li><a href="#">Opiniones</a> | </li>
		<li><a href="#">Suscripción</a> | </li>
		<li><a href="#">Eventos</a> | </li>
		<li><a href="#">Miembro de HDN</a> | </li>
		<li><a href="#">Concursos</a> | </li>
		<li>
			<a href="#"><img src=""/>videos</a>
			<a href="#"><img src=""/>fotos</a>
			<a href="#"><img src=""/>rss</a>
		</li>
		</ul>
	</nav>
</header>
<section class="ofertas_principales grid_8 alpha">
	<article class="ofertas_del_dia">
		<h2>INGREDIENTES:</h2>
		<ul>
			<li>Cilantro 28 gramos</li>
			<li>Dientes de ajo 4 unidades 
			<li>Cebolla picada 40 gramos 
			<li>Chile dulce picado 40 gramos 
			<li>Salsa Lizano* 50 mililitros 
			<li>Margarina 30 gramos 
			<li>Comino en polvo 5 gramos 
			<li>Sal 15 gramos 
			<li>arroz pilado 450 gramos 
			<li>Frijoles negros escurridos 275 gramos 
			<li>Caldo de frijol 100 gramos 
		</ul>
		<p>* Si no está disponible, puede sustituirse por salsa 
		Worcestershire (inglesa)</p>
		<img src="" />
	</article>
	<article class="ofertas_anteriores">
		<h2>PREPARACION:</h2>
		<p>Caliente la Margarina en una olla (salsera), agregue el ajo, el chile y la cebolla, y sofría hasta que suelte olor. 
		Agregue el caldo de Frijol, salsa y comino. Deje que hierva, agregue los frijoles y de nuevo deje que hierva 
		bien agregando luego el arroz. Revuelve bien y deje que llegue a una temperatura de por lo menos 160 grados 
		Farenheit durante 3 minutos. Por último agruegue un rollito de culantro (cilantro) picado brocho, retire del 
		fuego y revuelva bien.</p>
		<p>Usualmente se sirve con Natilla y/o plátano frito.</p>
	</article>
</section>
<aside class="grid_3" grid_8 omega>
	El Gallo Pinto es propio del Valle Central de Costa Rica. Es el plato principal y obligatorio para todo desayuno 
	del tico. Hay algunas variantes, especialmente en la región del Caribe, donde se le llama "Rice & Beans" y se 
	prepara con aceite de coco.
</aside>
<section class="informativos grid_8 alpha">
 blablabla
</section>
<footer class="grid_12" style="clear:both">
	<nav>
		<ul>
			<li><a href="#">About us</a> - </li>
			<li><a href="#">Advertise</a> - </li>
			<li><a href="#">Subscription</a> - </li>
			<li><a href="#">Conctact us</a> - </li>
			<li><a href="#">Archivos de Noticias</a> - </li>
			<li><a href="#">Privacy Notice</a> - </li>
			<li><a href="#">Copyright</a></li>
		</ul>
	</nav>
</footer>