<div class="grid_12 nubes">
	<div id="nube1">
      <div class="forma1"></div>
      <div class="forma2"></div>
      <div class="forma3"></div>
   </div>
   <div id="nube2">
      <div class="forma1"></div>
      <div class="forma2"></div>
      <div class="forma3"></div>
   </div>
   <div id="nube3">
      <div class="forma1"></div>
      <div class="forma2"></div>
      <div class="forma3"></div>
   </div>
</div>

<div class="grid_6 prefix_3" style="height:100">
	<h2>Pronto...</h2>
	<h1>Subasteando.cl</h1>
	<h3>El portal de ventas <br/> <strong>más conveniente</strong> en internet.</h3>
</div>
<div class="grid_12 nubes" style="padding-bottom:100;bottom:0px;" >
	<div id="nube1">
      <div class="forma1"></div>
      <div class="forma2"></div>
      <div class="forma3"></div>
   </div>
   <div id="nube2">
      <div class="forma1"></div>
      <div class="forma2"></div>
      <div class="forma3"></div>
   </div>
   <div id="nube3">
      <div class="forma1"></div>
      <div class="forma2"></div>
      <div class="forma3"></div>
   </div>
</div>