<div id="footer" style="height:190px; margin-top:-191px;">
  <div id="footer_content" class="container_12">
    <div class="grid_12" style="height:100%;">
      Footer

    </div>
  </div>
</div>

<div id="enviar_formulario_contacto" style="margin-top: 0px; padding-top: 0px;display:none;  width: 400px; height: auto;"></div>
