<head>
<meta charset="UTF-8">
  <title>Subasteando</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="ES" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Sitio de subastas" />
  <meta name="verify-v1" content="KkLT+3aKATfQpqh/iXxuLA06X3/tkuytI30cAerKmgc=" />
  <meta name="language" content="Spanish" />
  
</head>
